<div class="home_body cont-fluid ">
    <div class="row">
        <div class="col-12">
            <%- include('./TopAds.ejs') %>
        </div>
    </div>
    <section style=" margin-bottom: 88px" >
        <div class="row" style=" margin-bottom: 40px">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-8 ">
                        <div class="row" style=" margin-bottom: 30px">
                            <div class="col-12">
                                <div class="" style=" width: 100%">
                                    <div style=" margin-bottom: 4px">

                                        <a href="/" style=" width: 100%">
                                            <img style="max-width: 100%;" class='border'
                                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                        </a>

                                    </div>

                                    <a href="/" class='title' style=" display: inline-block ; margin-bottom: 5px">
                                        hot girl Trâm Anh nổi như cồn lào !!hot girl tram anh noi nhu con lao !!
                                    </a>

                                    <p class='text'>Chỉ còn chưa đầy một ngày nữa kỳ thi tuyển sinh vào lớp 10 THPT
                                        ở Hà Nội sẽ chính thức diễn ra, nhiều phụ huynh cùng sĩ tử đã đến Văn Miếu -
                                        Quốc Tử Giám cầu may mắn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style=" border-radius: 4px;overflow: hidden">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide row">
                                            <div class="col-5" style="  display: inline-block">
                                                <a>
                                                    <img style="max-width: 100%;" class='border'
                                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                                </a>
                                            </div>
                                            <div class="col-7 "
                                                style="  display: inline-block;position: relative;                                                    ">
                                                <div style="padding-right: 10px ; position: absolute;width: 100%;   top: 50%;left: 50%;transform: translate(-50%, -50%);">
                                                    <a href="/"
                                                    class="title2">ahot girl ot girff
                                                    fffff fffff
                                                    ffffff
                                                    fffff !!</a>
                                                    <span style=" font-size: 13px ; color: #777">- 4 gio truoc</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide row">
                                            <div class="col-5" style="  display: inline-block">
                                                <a>
                                                    <img style="max-width: 100%;" class='border'
                                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                                </a>
                                            </div>
                                            <div class="col-7 "
                                                style="  display: inline-block;position: relative;                                                    ">
                                                <div style="padding-right: 10px ; position: absolute;width: 100%;   top: 50%;left: 50%;transform: translate(-50%, -50%);">
                                                    <a href="/"
                                                    class="title2">ahot girl ot girff
                                                    fffff fffff
                                                    ffffff
                                                    fffff !!</a>
                                                    <span style=" font-size: 13px ; color: #777">- 4 gio truoc</span>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                    <div class="swiper-pagination"
                                        style=" text-align:  right ; position: absolute ; bottom: 1px">
                                    </div>
                                    <div style=" position: absolute ;width: 5% ; height: 60% ; z-index: 10;
                                    cursor: pointer ;right: 0 ;top: calc(100% - 80%) ; " class='next'>
                                        <div style=" position: relative ; height: 100%">
                                            <span style=" position:  absolute ; top: calc(50% - 2px) ; border: solid black
                                        ; border-width: 0 4px 4px 0 ;display: inline-block ; padding: 6px ;
                                        transform: rotate(-45deg) ; "></span>
                                        </div>
                                    </div>
                                    <div style=" position: absolute;width: 8%; height: 100% ; z-index: 10 ;
                                        cursor: pointer ; left: 0px ; top: 0 ;
                                        background: linear-gradient(90deg,rgb(136,136,136,0.4) 0%, rgb(136,136,136,0.2) 25% ,rgb(136,136,136,0) 100%)"
                                        class='prev'></div>
                                </div>
                                <link rel="stylesheet" href="/css/swiper-bundle.css">
                                <script src="/js/swiper-bundle.js"></script>
                                <script>
                                    const swiper = new Swiper('.swiper', {
                                        speed: 400,
                                        spaceBetween: 10,
                                        nextEl: ".next",
                                        prevEl: ".prve",
                                        loop: true,
                                        pagination: {
                                            el: ".swiper-pagination",
                                            clickable: true,
                                        },
                                    });
                                    document.getElementsByClassName("next")[0].addEventListener("click", function (ev) {
                                        console.log("ok");
                                        swiper.slideNext()
                                    })
                                    document.getElementsByClassName("prev")[0].addEventListener("click", function (ev) {
                                        console.log("ok");
                                        swiper.slidePrev()
                                    })
                                </script>
                                <style>
                                    .swiper {
                                        width: 100%;
                                        height: auto;
                                    }
                                </style>

                            </div>
                        </div>
                    </div>
                    <div class=" col-4 ">
                        <ul>
                            <!-- lagre -->
                            <li style=" margin-bottom: 10px">
                                <a href="/" style=" display: block ; width: 100%">
                                    <img style="max-width: 100%;" class="border"
                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                </a>
                                <a href="/" class="title1" style="padding:  0 8px">
                                    t girl tram anh noi nhu con lao !!hot girl tram anh noi nhu con lao !!
                                </a>

                            </li>
                            <li class="row" style=" margin-bottom:  8px;">
                                <a class="col-5" href="/">
                                    <img style="width: 100%;display: block;" class="border"
                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                </a>
                                <a class="col-7 title4" href="/">
                                    hot girl tram anh noi nhu con lao !!
                                </a>

                            </li>

                            <li class="row" style=" margin-bottom:  8px;">
                                <a class="col-5" href="/">
                                    <img style="width: 100%;display: block;" class="border"
                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                </a>
                                <a class="col-7 title4" href="/">
                                    hot girl tram anh noi nhu con lao !!
                                </a>

                            </li>

                            <li class="row" style=" margin-bottom:  8px;">
                                <a class="col-5" href="/">
                                    <img style="width: 100%;display: block;" class="border"
                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                </a>
                                <a class="col-7 title4" href="/">
                                    hot girl tram anh noi nhu con lao !!
                                </a>

                            </li>

                            <li class="row" style=" margin-bottom:  8px;">
                                <a class="col-5" href="/">
                                    <img style="width: 100%;display: block;" class="border"
                                        src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                                </a>
                                <a class="col-7 title4" href="/">
                                    hot girl tram anh noi nhu con lao !!
                                </a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-xl-4 start-9 d-lg-none">
                <%- include('../components/SidebarAds.ejs') %>
            </div>
        </div>
        <div>
            <div style=" margin-bottom:  18px">
                <h2 style=" display: inline" class="text_decor title2">Đáng chú ý :</h2>
            </div>
            <ul class="row">
                <li class="col-3">

                    <a href="/" style=" display: inline-block ;width: 100% ; height: 168px">
                        <img style="max-width: 100%;" class="border"
                            src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                    </a>


                    <a href="/" class="title3" style=" display: inline-block ;width: 100% ;
                                padding: 0  0 0 8px">
                        hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot
                        girl tram anh noi
                        nhu con lao !!
                    </a>

                </li>
                <li class="col-3">

                    <a href="/" style=" display: inline-block ;width: 100% ; height: 168px">
                        <img style="max-width: 100%;" class="border"
                            src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                    </a>


                    <a href="/" class="title3" style=" display: inline-block ;width: 100%;
                                padding: 0  0 0 8px">
                        hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot
                        girl tram anh noi
                        nhu con lao !!
                    </a>

                </li>
                <li class="col-3">

                    <a href="/" style=" display: inline-block ;width: 100% ; height: 168px">
                        <img style="max-width: 100%;" class="border"
                            src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                    </a>


                    <a href="/" class="title3" style=" display: inline-block ;width: 100%;
                                padding: 0  0 0 8px">
                        hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot
                        girl tram anh noi
                        nhu con lao !!
                    </a>

                </li>
                <li class="col-3">

                    <a href="/" style=" display: inline-block ;width: 100% ; height: 168px">
                        <img style="max-width: 100%;" class="border"
                            src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                    </a>


                    <a href="/" class="title3" style=" display: inline-block ;width: 100% ;
                                padding: 0  0 0 8px">
                        hot1 girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao
                        !!hot girl tram anh noi
                        nhu con lao !!
                    </a>

                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-8 ">
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">

                        <a href="/" style="padding-bottom: 10px;" class="title3">
                            hot2 girl2 tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>

                        <p style="margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">
                            <a href="/" class="title3">tin ICT</a>
                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class='lagre row' style="margin-bottom: 36px;">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>
                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">
                            <a href="/" class="title3">tin ICT</a>
                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ads" style="margin-bottom: 40px;">
                    <%- include("../components/AdPanel728x90.ejs")%>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">

                        <a href="/" style=" width: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>

                    </div>
                    <div class="col-8">

                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>

                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">

                            <a href="/" class="title3">tin ICT</a>

                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">

                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>

                    </div>
                    <div class="col-8">

                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>

                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">

                            <a href="/" class="title3">tin ICT</a>

                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="special row" style=" margin-bottom: 36px ,;padding: 24px;">
                    <div class="col-4">

                        <a href="/" style=" width: 100%; height: 100%;">

                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>

                    </div>
                    <div class="col-8">

                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>

                        <p style="padding-top: 10px; margin-bottom: 5px;">

                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">

                            <a href="/" class="title3">tin ICT</a>

                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class='row lagre' style="margin-bottom: 36px;height:300px">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="height:100%;width: 100%;object-fit: fill;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">

                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>

                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">

                            <a href="/" class="title3">tin ICT</a>

                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 d-lg-none">
                <%- include("../components/SidebarAds.ejs") %>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div style="margin-bottom: 36px;">
                    <ul>
                        <li class="special row" style="padding: 24px;">
                            <a class="col-4" href="/">
                                <img style="width:100%;" class="border" layout='responsive'
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png">
                                </Image>
                            </a>
                            <div class="col-8">
                                <a href="/" class="title3">
                                    ashd saddasdkasd addkjh
                                </a>
                                <div style="text-align: right;">
                                    <span>
                                        100 views
                                    </span>
                                    <span class="time" style="margin-left: 10px;">
                                        3 ngay truoc
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="special row" style="padding: 24px;">

                            <a class="col-4" href="/">
                                <img style="width:100%;" class="border" layout='responsive'
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png">
                                </Image>
                            </a>

                            <div class="col-8">

                                <a href="/" class="title3">
                                    ashd saddasdkasd addkjh
                                </a>

                                <div style="text-align: right;">
                                    <span>
                                        100 views
                                    </span>
                                    <span class="time" style="margin-left: 10px;">
                                        3 ngay truoc
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="special row" style="padding: 24px;">

                            <a class="col-4" href="/">
                                <img style="width:100%;" class="border" layout='responsive'
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png">
                                </Image>
                            </a>

                            <div class="col-8">

                                <a href="/" class="title3">
                                    ashd saddasdkasd addkjh
                                </a>

                                <div style="text-align: right;">
                                    <span>
                                        100 views
                                    </span>
                                    <span class="time" style="margin-left: 10px;">
                                        3 ngay truoc
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="margin-bottom: 36px;">
                    <%- include("../components/AdPanel728x90.ejs")%>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>
                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">
                            <a href="/" class="title3">tin ICT</a>
                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>
                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">
                            <a href="/" class="title3">tin ICT</a>
                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/" class="title3">
                            hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl tram anh
                            noi nhu con lao !!
                        </a>
                        <p style="padding-top: 10px; margin-bottom: 5px;">
                            hot girl tr hot girl tram anh noi nhu con lao
                            !!!hot girl tram a hot girl tram anh noi nhu con la
                            hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                        </p>
                        <div style="text-align: right;">
                            <a href="/" class="title3">tin ICT</a>
                            <span class="time" style="margin-left: 20px;">
                                3 gio truoc
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-12" style=" margin-bottom: 8px;">
                        <h2 class="text_decor" style="display: inline;">
                            Đề xuất
                        </h2>
                    </div>
                    <div class='col-8'>
                        <a href="/" style=" width: 100%; height: 100%;">
                            <img style="width:100%;" class="border"
                                src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                        </a>
                        <div>
                            <a href="/" class="title3">
                                hot girl tram anh noi nhu con lao !!!hot girl tram anh noi nhu con lao !!hot girl
                                tram anh noi nhu con lao !!
                            </a>
                            <p style="padding-top: 10px; margin-bottom: 5px;">
                                hot girl tr hot girl tram anh noi nhu con lao
                                !!!hot girl tram a hot girl tram anh noi nhu con la
                                hot girl traao !!!hot girl tram a hot girl tram anh noi nhu con
                            </p>
                            <div style="text-align: right;">
                                <a href="/" class="title3">tin ICT</a>
                                <span class="time" style="margin-left: 20px;">
                                    3 gio truoc
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div style="margin-bottom: 10px;">
                            <a href="/">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh
                                afkn nsafj asjfwie fsdknf s,f</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <a href="/">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh
                                afkn nsafj asjfwie fsdknf s,f</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-6">
                        <h2>
                            <a href="/" class='title2'>BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                        </div>
                        <a href="/" class="title4" style="display: block;"> adajk sldk daaldj</a>
                        <a href="/" class="title4" style="display: block;"> ad aajka aaasdaldkaa
                            ldj!!</a>
                    </div>
                    <div class="col-6">
                        <h2>
                            <a href="/" class="title2">BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                        </div>
                        <a href="/" class="title4" style="display: block;"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display:  block;"> adajkldkaldj</a>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-6 lagre">
                        <div style="margin: 0 20px;">
                            <div style="height: 450px;position: relative;overflow: hidden;">
                                <a href="/" style="display: inline-block;width: 100%;height: 100%;">
                                    <img style="height:100%;width: 100%;" class="border" src="" />
                                </a>
                                <a href="/" class="title2"
                                    style="background-image: linear-gradient(0deg , rgb(0,0,0,1)0% , rgb(0,0,0,0.8) 65%, rgb(0,0,0,0.2) 100%);line-height: 24px;;padding: 24px 18px;color: #fff;position: absolute;bottom: 0;width: 100%;z-index: 1;left: 0;">
                                    hfsdks kfhsklhf snaklh afkn
                                    nsafj asjfwie fsdknf s,f</a>
                            </div>
                        </div>
                        <a href="/" class="title4"
                            style="display: block;padding: 8px 4px;border-bottom: 1px solid #ddd;" href="/">
                            adajkldkaldj</a>
                        <a href="/" class="title4" style="display: block;margin: 8px 4px;" href="/"> adajkldkaldj</a>
                    </div>

                    <div class="col-6 lagre">
                        <div style="margin: 0 20px;">
                            <div style="height: 450px;position: relative;overflow: hidden;">
                                <a href="/" style="display: inline-block;width: 100%;height: 100%;">
                                    <img style="height:100%;width: 100%;" class="border" src="" />
                                </a>
                                <a href="/" class="title2"
                                    style="background-image: linear-gradient(0deg , rgb(0,0,0,1)0% , rgb(0,0,0,0.8) 65%, rgb(0,0,0,0.2) 100%);line-height: 24px;;padding: 24px 18px;color: #fff;position: absolute;bottom: 0;width: 100%;z-index: 1;left: 0;">
                                    hfsdks kfhsklhf snaklh afkn nsafj asjfwie fsdknf s,f</a>
                            </div>
                        </div>
                        <a href="/" class="title4"
                            style="display: block;padding: 8px 4px;border-bottom: 1px solid #ddd;" href="/">
                            adajkldkaldj</a>
                        <a href="/" class="title4" style="display: block;margin: 8px 4px;" href="/"> adajkldkaldj</a>
                    </div>


                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-6">
                        <h2>
                            <a href="/" class="title2">BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                        </div>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                    </div>
                    <div class="col-6">
                        <h2>
                            <a href="/" class="title2">BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                        </div>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display:  block;" href="/"> adajkldkaldj</a>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 36px;">
                    <div class="col-4">
                        <h2>
                            <a href="/" class="title2">BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhfwie fsdknf
                                s,f</a>
                            <span class="time">4 gio truoc</span>
                        </div>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                    </div>
                    <div class="col-4">
                        <h2>
                            <a>BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                            <span class="time">4 gio truoc</span>
                        </div>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display:  block;" href="/"> adajkldkaldj</a>
                    </div>
                    <div class="col-4">
                        <h2>
                            <a href="/" class="title2">BDS</a>
                        </h2>
                        <div>
                            <a href="/" style="display: inline-block;width: 100%;">
                                <img style="width:100%;" class="border"
                                    src="/images/mark-zuckerberg-1644293841385-16442938420702071314982-0-191-750-1391-crop-16442943967191483993240.png" />
                            </a>
                            <a href="/" class="title3" style="vertical-align: top;"> hfsdks kfhsklhf snaklh afkn
                                nsafj asjfwie fsdknf s,f</a>
                            <span class="time">- 4 gio truoc</span>
                        </div>
                        <a href="/" class="title4" style="display: block;" href="/"> adajkldkaldj</a>
                        <a href="/" class="title4" style="display:  block;" href="/"> adajkldkaldj</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <%- include("../components/HotTags.ejs") %>
                    <%- include("../components/SidebarAds.ejs") %>
            </div>
        </div>
    </section>
</div>
<!-- GG ads -->
<!-- <ins class="adsbygoogle"
style="display:inline-block;width:728px;height:90px"
data-ad-client="ca-pub-1234567890123456"
data-ad-slot="1234567890"></ins -->
