<!DOCTYPE html>
<html lang="<%= props.article.lang %> ">

<head>
  <%- include ("./article_head.ejs") %>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <%- include("./components/header.ejs") %>
  <%- include("./components/article_body.ejs") %>
  <%- include("./components/footer.ejs") %>
</body>

</html>
