<meta charSet="UTF-8" />
<meta httpEquiv="Content-Type" content="text/html; charset=UTF-8" />
<meta httpEquiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport"
    content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

<link rel="apple-touch-icon" href="/favicon.ico" />

<link rel="alternate" type="application/rss+xml" title="<%= props.article.title %> " href="/feed.rss" />

<title>
    <%=props.article.title%>
</title>
<meta name="keywords" content="<%=props.siteInfo.keywords.join(",").toString()%>" />
<meta name="newskeywords" content="<%=props.siteInfo.keywords.join(",").toString()%>" />
<meta name="description" content="<%=props.siteInfo.description%>" />

<link rel="manifest" href="/manifest.json" />
<link rel="shortcut icon" href="<%=props.siteInfo.icon%>" type="image/x-icon" />
<meta name="theme-color" content="<%=props.siteInfo.themeColor%>" />
<meta name="format-detection" content="telephone=yes,date=no,address=yes,email=yes,url=yes" />
<!-- GG ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
