<!DOCTYPE html>
<html lang="<%= props.siteInfo.langDefault %> ">

<head>
  <%- include ("./home_head.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <%- include("./components/header.ejs") %>
  <%- include("./components/home_body.ejs") %>
  <%- include("./components/footer.ejs") %>

</body>

</html>
