<!DOCTYPE html>
<html lang="<%= props.site_info.lang %> ">

<head>
  <%- include ("./head_homepage.ejs") %>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <%- include("./components/header.ejs") %>
  <%- include("./containers/mobile_home_body.ejs") %>
  <%- include("./components/footer.ejs") %>

</body>

</html>
