<!DOCTYPE html>
<html lang="<%= props.siteInfo.langDefault %> ">

<head>
    <%-  %>
    <link rel="stylesheet" href="/css/user_signup.css">
    <link rel="stylesheet" href="/css/app.css">

    <script defer src="/js/js.js"></script>
</head>

<body>
<%- include("./components/header.ejs") %>

<%- include("./components/signupForm.ejs") %>
<%- include("./components/footer.ejs") %>

</body>

</html>
